@import '../components/gaia-icons/gaia-icons-embedded.css';

fxos-customizer {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-top: 1px solid #ccc;
}
