@import '../components/gaia-icons/gaia-icons-embedded.css';

fxos-customizer {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-top: 1px solid #ccc;
}

gaia-modal {
  background: white;
}

.settings gaia-list gaia-button {
  /* XXX/drs: Why do we have to make this !important? It's very specific. */
  margin: 0 0 0 auto !important;

  --button-background: red;
  text-align: center;
}

.settings gaia-list .addon-time {
  color: #aaa;
}
